.border-missing .ant-tabs-bar {
  border: none;
}
.test .ant-tabs-tab-active{
  font-size:24px !important;
font-family:PingFangSC-Regular !important;
font-weight:400 !important;
color:rgba(51,51,51,1) !important;
line-height:24px !important;
    
}
.test .ant-tag-checkable-checked{
font-weight:600 !important;
color:rgba(235,196,77,1) !important;
}
.test .ant-tag-checkable{
  font-size:20px;
font-family:PingFangSC-Regular;
font-weight:400;
color:rgba(102,102,102,1);
line-height:26px;
background: none;
}

.test .ant-col-2{
  font-size:20px;
font-family:PingFangSC-Regular;
font-weight:400;
color:rgba(153,153,153,1);
line-height:26px;
}
.test .ant-tabs-tab{
  font-size:24px;
font-family:PingFangSC-Regular;
font-weight:400;
color:rgba(153,153,153,1);
line-height:24px;
    
}
.test .ant-tabs-ink-bar{
  background-color:#EBC44D;
  height:4px;
}
/* .order-missing .ant-tabs-nav .ant-tabs-tab-active{
    font-size:24px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:24px;
} */
.cardTitle {
  width: 308px;
  height: 60px;
  font-size: 22px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  line-height: 30px;
}
.cardDescription {
  font-size: 20px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: rgba(102, 102, 102, 1);
  line-height: 28px;
}
.card_applying {
  position: absolute;
  top: 17px;
  right: 17px;
  width: 80px;
  height: 32px;
  background: rgba(235, 196, 77, 1);
  border-radius: 18px;
  font-size: 20px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  line-height: 28px;
  text-align: center;
}
.card_ending {
  position: absolute;
  top: 17px;
  right: 17px;
  width: 80px;
  height: 32px;
  background: rgba(196, 196, 196, 1);
  border-radius: 18px;
  font-size: 20px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  line-height: 28px;
  text-align: center;
}
