.headerWrapper {
  height: 72px;
  background: rgba(0, 0, 0, 1);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 1200px; */
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.HeaderTitleWidth {
  width: 1200px;
  color: rgba(188, 188, 188, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.TitleBottomLine {
  width: 100px;
  height: 5px;
  background: rgba(255, 255, 255, 1);
}
.TitleImg {
  width: 249px;
  height: 61px;
  /* border: solid 1px red; */
  margin-left: -50px;
}

.HeaderTitle {
  width: 80px;
  height: 28px;
  font-size: 20px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: rgba(188, 188, 188, 1);
  line-height: 28px;
  margin: 0 30px;
}
.HeaderTitleA{
  width: 80px;
  height: 28px;
  font-size:20px;
  font-family:PingFangSC-Semibold;
  font-weight:600;
  color:rgba(255,255,255,1);
  line-height:28px;
  margin: 0 30px;
}
.index1{
  position: absolute;
    top: 45px;
    right: -30px;
    width: 100px;
    height: 5px;
    background: rgb(255, 255, 255);
}
.index2{
  position: absolute;
    top: 45px;
    right: -30px;
    width: 100px;
    height: 5px;
    background: rgb(255, 255, 255);
}
.index3{
  position: absolute;
    top: 45px;
    right: -10px;
    width: 100px;
    height: 5px;
    background: rgb(255, 255, 255);
}
.index4{
  position: absolute;
    top: 45px;
    right: -30px;
    width: 100px;
    height: 5px;
    background: rgb(255, 255, 255);
}
.index5{
  position: absolute;
    top: 45px;
    right: -10px;
    width: 100px;
    height: 5px;
    background: rgb(255, 255, 255);
}


.HeaderSearchIcon {
  color: rgba(188, 188, 188, 1);
  margin-left: 160px;
}

.HeaderLogin {
  width: 78px;
  height: 22px;
  font-size: 16px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: rgba(188, 188, 188, 1);
  line-height: 22px;
  margin-left: 35px;
}
a:hover {
  color: rgba(255, 255, 255, 1);
}

.login-form {
  height: 300px;
}

.login-form-button {
  width: 100%;
}

.margin {
  margin-bottom: 20px;
}