.newsPage {
    width: 1400px;
    margin: auto;
}

.newspageGoldDot {
    background-color: #D4A927;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.newspageDayDotBlack {
    height: 35px;
    background : black;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding-top: 9px;
}

.newspageNoDot {
    height: 20px;
    width: 20px;
    background: rgba(0,0,0,0)    
}

.newspageDayDotGold {
    color: black;
    font-size: 16px;
    font-weight: bold;
    height:25px;
    background:linear-gradient(90deg,rgba(235,196,77,1) 0%,rgba(127,73,0,1) 100%);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding-top: 4px;
}

.newsPage .time {
    font-size: 14px;
    color: #999999;
}

.newsPage .title {
    font-size: 16px;
    color: black;
    margin-left: 10px;
}

.newsPage .title {
    font-size: 16px;
    color: black;
    margin-left: 10px;
}

.newsPage .content {
    font-size: 14px;
    color: #999999;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    padding-right: 50px;
}

.newspageDayDot {
    width: 60px;
}

.newspageTimeline {
    height: 100px;
}

.newspageNewsItem {
    margin-left: 50px;
    height: 60px;
    /* border: green solid 1px; */
}

.imgBackground {
    height: 100px;
    width: 400px;
    margin-left: 50px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.loadingSpinner {
    margin-left: 300px;
    margin-top: 100px;
}