.articleEditor {
    border: 1px solid rgba(229,229,229,1);
    min-height: 500px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.adminCreateNews .ant-upload {
    width: 275px !important;
    height: 169px !important;
}