.contact_title_img {
  width: 500px;
  height: 129px;
  margin-top: 191px;
}
.contact_title {
  margin-top: 38px;
  font-size: 42px;
  font-weight: 300;
  color: rgba(255, 255, 255, 1);
}
.contact_options_img {
  width: 570px;
  height: 440px;
  margin: 50px 0 30px;
}
.contact_options_title {
  width: 96px;
  height: 33px;
  font-size: 24px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  line-height: 33px;
  margin: 0 auto;
}
.contact_options_btn {
  width: 185px;
  height: 48px;
  border-radius: 6px;
  border: 2px solid rgba(0, 0, 0, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  line-height: 22px;
  margin-top: 30px;
}
.ad_description {
  width: 800px;
  height: 115px;
  font-size: 18px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: 35px;
  margin: 38px auto;
}
.contact_ad_img {
  width: 340px;
  height: 340px;
}
.contact_ad_title {
  height: 40px;
  font-size: 28px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  line-height: 40px;
  margin: 30px 0 50px;
  text-align: center;
}
.contact_ad_email {
  text-align: center;
  font-size: 28px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  color: #999999;
  line-height: 40px;
}
