.homepageMainCarousel .ant-carousel .slick-slide {
    text-align: center;
    height: 300px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
}
  
.homepageMainCarousel .ant-carousel .slick-slide h3 {
    color: #fff;
}


.mainHomepage {
    padding-right: 120px;
    padding-left: 120px;
    padding-top: 5vh;
    width: 1400px;
    margin: auto;
    /* border: solid red 1px; */
}

.borderGrey {
    border: 1px solid rgba(229,229,229,1)
}

.homepageSchoolBlock {
    padding: 20px;
}

.mainHomepageSmallImage{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 25px;
    /* border: rgb(212, 212, 212) 1px solid; */
    width: 200px;
    height: 138px;
}

.ant-menu-item-selected{
    color: black !important;
    border-bottom: 4px solid #EBC44D !important;
}

.ant-menu-item-active {
    color: black !important;
    border-bottom: 4px solid #EBC44D !important;
}

.ant-menu-item {
    /* color: red !important; */
    margin-right: 2vh;
    font-size: 30px;
}

.ant-menu-horizontal {
    border-bottom: none !important;
}

.mainHomepageNews {
    margin-top: 4%;
    margin-bottom: 6%;
}

.mainHomepageNewsList {
    padding-top: 5%;
    padding-right: 10%;
}

.mainpageTitleNews {
    font-size: 35px;
    /* border: red solid 1px; */
    color: black !important;
    line-height: 40px;
    /* height: 130px; */
}

.mainpageTitleNewsBlock {
    /* border: solid 1px green; */
    padding-top: 10px;
    height: 155px;
}

/* 30px */